* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

:root {
  --light: #fff;
  --dark: #000;
  --primary: #23424a;
  --secondary: #136c72;
  --tertiary: #38cfd9;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero {
  background-color: var(--primary);
  color: var(--light);
  min-height: 60vh;
  padding: 4rem;
}

.hero-text {
  width: 70%;
}

.hero-heading {
  font-size: 48px;
  font-weight: 900;
  padding: 0.5em 0;
}

.hero p {
  font-size: 21px;
  font-weight: 400;
  padding: 1rem 0 4rem;
}

.cta-btn {
  background-color: var(--tertiary);
  border-radius: 31.5px;
  color: var(--dark);
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.cta-btn:hover,
.cta-btn:focus {
  opacity: 0.75;
  transition: 0.25s;
}
